.banner {
  width: 100%;
  text-align: center;
  color: black;
}
.nav {
  display: flex;
  justify-content: space-around;
  color: black;
}
nav > a {
  color: black;
}
.link {
  color: #0000EE;
  text-decoration: none;
}
body {
  margin: 0;
}
.body {
  margin: 0;
  background-color: black;
}
footer {
    display: block;
    border-top: 2px solid #6D133F;
    max-height: 200px;
}
.footer {
  list-style-type: none;
  padding-left: 200px;
}
.foot {
  border-left: 2px;
  border-left-color: #6D133F;
  width: 100px;
}
.background {
    background-color: #6D133F;
}
main {
  display: block;
  color: #6D133F;
  min-height: 439px;
  border-top: 10px;
}
h1 {
  display: inline;
}
.left {
  display: inline-block;
  text-align: left;
  float: left;
  width: 200px;
  margin: 0;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 200px;
  color: #6D133F;
}
.centerparent {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: black
}
.center {
  border: 5px solid #6D133F;
  border-radius: 100%;
  height: 200px;
  width: 200px;
  padding: 50px;
  text-align: center;
}
.aside {
  display: block;
  height: 414px;
  width: 200px;
}
.border {
  border: solid 5px #6D133F;
}
.nolink {
  text-decoration: none;
  color: #6D133F;
}
.social {
  height: 50px;
  width: 50px;
  padding-left: 20px;
  padding-top: 5px;
  padding-right: 5px;
  opacity: .50;
}
.a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.footerlink {
  color: #6D133F;
  display: inline;
  text-decoration: none;
}
.asideheader {
  display: block;
}
.contact {
  display: block;
  text-decoration: none;
  padding-left: 30px;
}
.b {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding-left: 30px;
}
.c {
  text-decoration: none;
  color: #551A27;
}
.top-left {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.d {
  display: inline-block;
}
.image1 {
  width: 1000px;
  height: 200px;
}
.image2 {
  width: 200px;
  height: 414px;
}
.big {
  font-size: 3em;
  text-align: center;
}
